html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --background-green-color: #84A178;
    --accent-yellow-color: #F8D24E;
    --primary-white-color: #FCFCFC;
    --primary-black-color: #131313;
    --white-color: #ffffff;
    --black-color: #000000;
    --green-color: #AEC6A5;
    --yellow-color: #EFD478;
    --red-color: #D6936D;
    --grey-color: #7A7A7A;
    --light-grey-color: #ABABAB;
    --hover-green-color: #0A8817;
}

body {
    background-color: var(--background-green-color);
    color: var(--primary-white-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    cursor: pointer;
    border-radius: 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


/* Header */

.header {
    padding-top: 8px;

    /* outline: 1px solid black; */
}

.header-container {
    display: flex;
    align-items: flex-end;
}

.header-container .wrapper {
    display: flex;
    padding-bottom: 3px;
    margin-left: auto;
}

.nav-list {
    display: flex;
}

.nav-list li:not(:last-child) {
    margin-right: 28px;
}

.nav-list .link {
    display: block;
    padding-top: 12px;
    padding-bottom: 10px;
    color: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}

.nav-list .link:hover, 
.nav-list .link:focus {
    color: var(--accent-yellow-color);
}

.primary-btn {
    height: 42px;
    background-color: var(--accent-yellow-color);
    padding: 12px 34px;
    border: transparent;
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: var(--hover-green-color);
}

.primary-btn:focus {
    color: var(--white-color);
}
.primary-btn:focus .icon-arrow {
    fill: currentColor;
}

.header-container .primary-btn {
    min-width: 152px;
    padding-left: 36px;
    padding-right: 35px;
    margin-left: 204px;
}

.icon-arrow {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}


/* Hero */

.hero {
    /* outline: 1px solid black; */
}

.hero-container {
    background-image: url(../images/dots.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1200px 384px;
    position: relative;
    padding-top: 45px;
    padding-bottom: 65px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.statistics {
    padding-top: 8px;
}

.hero-title,
.products .title,
.how-its-made .title {
    font-family: "Seymour One", sans-serif;
}

.hero-title {
    font-size: 38px;
    letter-spacing: 0.04em;
    margin-bottom: 28px;
    width: 367px;
}

.hero .list {
    display: flex;
    align-items: center;
}

.hero li:not(:last-child) {
    margin-right: 12px;
    
}

.secondary-btn {
    display: flex;
    border: 2px solid var(--accent-yellow-color);
    padding: 10px 32px;
    height: 42px;
}

.hero .secondary-btn {
    min-width: 134px;
}

.secondary-btn:hover {
    border-color: var(--hover-green-color);
}

.secondary-btn:focus {
    border-color: var(--hover-green-color);
    color: var(--primary-white-color);
}

.hero-link {
    display: block;
    min-width: 154px;
    height: 40px;
    padding: 12px 21px 11px 22px;

    color: var(--accent-yellow-color);
    font-size: 14px;
    line-height: 1.21;
    font-weight: 600;
}

.hero-link:hover {
    color: var(--hover-green-color);
}

.hero-link:focus {
    color: var(--primary-white-color);
}

.hero .statistics-cafe,
.hero .statistics-food-trucks{
    text-align: right;
}

.hero .statistics-cafe {
    margin-bottom: 20px;
}

.number {
    display: block;
    margin-bottom: 4px;
    color: var(--primary-black-color);
    font-weight: 900;
    font-size: 46px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

.hero-details {
    display: flex;
    /* outline: 1px solid black; */
}

.hero-info {
    margin-left: 16px;
    padding-top: 77px;
    overflow: hidden;
}

.hero-text {
    line-height: 1.4;
    font-size: 13px;
    width: 200px;
    margin-bottom: 24px;
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-text.show {
    transform: translateX(1%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-btn {
    width: 42px;
    height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-long-arrow.rotate {
    transform: rotate(180deg);
}

.icon-long-arrow {
    width: 40px;
    height: 16px;
}

.hero .icon-long-arrow {
    fill: var(--white-color);
}

.big-ice-cream {
    position: absolute;
    bottom: 0;
    right: 92px;
}


/* Products */

.products {
    color: var(--primary-black-color);
    padding-top: 60px;
    padding-bottom: 60px;

    background-image: url(../images/backgroud-desktop.jpg);
    background-size: 1200px;

    /* outline: 1px solid black; */
}

.pre-title {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
}

.products .title {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 303px;
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product-list-item {
    position: relative;
    width: 370px;
    padding: 165px 64px 60px;
    border-radius: 24px;
    text-align: center;
}

.product-list-item:nth-child(1) {
    background-color: var(--green-color);
}

.product-list-item:nth-child(2) {
    background-color: var(--yellow-color);
}

.product-list-item:nth-child(3) {
    background-color: var(--red-color);
}

.product-list-item::before,
.product-list-item::after {
    content: '';
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 302px;
    height: 302px;
    border-radius: 50%;
} 

.product-list-item::before {
    top: -167px;
    box-shadow: 0 8px 30px rgba(10, 136, 23, 0.25);
}

.product-list-item:nth-child(1)::before {
    background-color: var(--green-color);
}

.product-list-item:nth-child(2)::before {
    background-color: var(--yellow-color);
}

.product-list-item:nth-child(3)::before {
    background-color: var(--red-color);
}

.product-list-item::after {
    top: -183px;
    background-image: url();
}

.product-list-item:nth-child(1)::after {
    background-image: url(../images/product1.png);
}

.product-list-item:nth-child(2)::after {
    background-image: url(../images/product2.png);
}

.product-list-item:nth-child(3)::after {
    background-image: url(../images/product3.png);
}

.product-name {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    margin-bottom: 66px;
}

.product-list p {
    min-height: 142px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
}

.products .icon-long-arrow {
    fill: var(--primary-black-color);
}


/* How its made */

.how-its-made {
    padding-top: 60px;
    padding-bottom: 99px;

    /* outline: 1px solid black; */
}

.how-its-made .title {
    min-height: 45px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 82px;
}

.how-its-made .content {
    position: relative;
    display: flex;
    flex-direction: row;
}

.content::before,
.content::after {
    content: '';
    display: flex;
    width: 490px;
    height: 490px;
}

.content::before {
    border-radius: 50%;
    background-color: rgba(248, 210, 78, 0.7);
    margin-right: 109px;
}

.content::after {
    position: absolute;
    top: 39px;
    background-image: url(../images/cow-circle.png);
}

.how-its-made .description {
    padding-top: 90px;
}

.how-its-made .description-text {
    width: 463px;
    margin-bottom: 54px;
}

.description-text .text {
    line-height: 1.94;
    letter-spacing: 0.04em;
}

.description-text .text:first-child {
    font-size: 16px;
    line-height: 1.76;
}

.description-text .text:not(:last-child) {
    margin-bottom: 8px;
}

.how-its-made .primary-btn {
    min-width: 164px;
    padding-right: 35px;
}


/* Advantages */

.advantages {
    /* outline: 1px solid black; */
}

.advantage-list {
    display: flex;
    justify-content: space-between;
}

.advantage-list > .item {
    width: 368px;
    text-align: center;
}

.advantage-list > .item::before {
    content: '';
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent-yellow-color);
}

.advantage-list > .item:nth-child(1)::before {
    background-image: url(../images/cow.png);
}

.advantage-list > .item:nth-child(2)::before {
    background-image: url(../images/weight.png);
}

.advantage-list > .item:nth-child(3)::before {
    background-image: url(../images/ice-cream.png);
}

.advantage-list .numbers {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
}

.advantage-list .description {
    width: 100%;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
}


/* Gallery */

.gallery {
    padding-top: 80px;
    padding-bottom: 228px;
    text-align: center;
    background: linear-gradient(to bottom, var(--background-green-color) 178px, transparent 0),
    url(../images/backgroud-desktop.jpg);
    background-position: left bottom;

    /* outline: 1px solid black; */
}

.photoSwiper {
    width: 1013px; 
    height: 422px;
    margin-bottom: 140px;
}

.photoSwiper .swiper-slide {
    margin-right: 100px;
}

.photoSwiper img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.reviewSwiper {
    width: 968px;
}

.reviewSwiper .swiper-wrapper {
    margin-bottom: 32px;
}

.review img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.review p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
}

.review-text {
    background-color: var(--background-green-color);
    padding: 39px 74px 39px 73px;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 24px;
    margin-bottom: 32px;
}

.customer-name {
    color: var(--primary-black-color);
} 

.reviewSwiper .swiper-pagination {
    position: static;
    justify-content: center;
    gap: 18px;
    display: flex;

}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: var(--background-green-color);
}


/* Contacts */

.contacts {
    margin-top: -128px;
    padding-bottom: 120px;
    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 16px;

    /* outline: 1px solid black; */
}

.contact-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.contact-list-item {
    width: 368px;
    padding: 40px;
    border-radius: 24px;
    background-color: var(--white-color);
}

.contact-list-item > p {
    display: inline-block;
    letter-spacing: 0.04em;
    line-height: 1.4;
    margin-bottom: 32px;
    padding: 4px 14px;
    border-radius: 6px;
    background-color: var(--accent-yellow-color);
}

.city {
    letter-spacing: 0.04em;
    line-height: 1.86;
    margin-bottom: 8px;
}

.address {
    font-style: normal;
    letter-spacing: 0.04em;
    line-height: 1.83;
    color: var(--red-color);
    margin-bottom: 64px;
}

.work-hour-list {
    line-height: 1.86;
}

.work-hour-list > li:first-child {
    margin-bottom: 12px;
}

.work-hour-list > li:last-child {
    margin-bottom: 64px;
}

.days {
    letter-spacing: 0.04em;
}

.work-hours {
    color: var(--light-grey-color);
}

.contact-list .link {
    color: inherit;
    line-height: 1.5;
}

.button-list {
    display: flex;
    justify-content: center;
}

.button-list .primary-btn {
    min-width: 196px;
    padding-left: 40px;
    padding-right: 39px;
    margin-right: 16px;
}

.button-list .secondary-btn {
    background-color: var(--background-green-color);
    padding-left: 55px;
    padding-right: 54px;
    min-width: 196px;
}

.secondary-btn:focus .icon-arrow {
    fill: currentColor;
}


/* Footer */

.footer {
    /* outline: 1px solid black; */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.footer .title {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    margin-bottom: 14px;
}

.footer .title-end {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.2;
    letter-spacing: 0.06em;
}
.footer-content .wrapper {
    align-items: flex-end;
}

.social-media-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.social-media-list .item:not(:last-child) {
    margin-right: 30px;
}

.social-media-link {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--accent-yellow-color)
}

.social-media {
    fill: var(--background-green-color);
}

.social-media-link:hover .social-media,
.social-media-link:focus .social-media {
    fill: var(--white-color);
}

.footer-contact {
    color: var(--primary-black-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;
}

.footer-tel {
    color: var(--white-color);
}

.copyright {
    color: var(--grey-color);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}